/* line 6, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
* {
  box-sizing: border-box;
}

/* line 7, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  font-family: "Raleway", sans-serif;
}
/* line 14, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body #sidebar, html #sidebar {
  width: 15%;
  height: 100%;
  display: inline-block;
  background: url(/assets/button1.png) no-repeat right center;
  background-size: 12.5%;
  background-color: #eebd01;
  float: left;
  position: relative;
  margin-left: -13%;
  transition: all .6s;
  padding: 1% 2%;
}
/* line 28, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body #sidebar img, html #sidebar img {
  width: 60%;
  margin: auto;
  display: block;
}
/* line 34, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body #sidebar h2, html #sidebar h2 {
  margin: 16px 0 20px 0;
  font-size: 26px;
  line-height: 1;
  color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
/* line 43, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body #sidebar h3, html #sidebar h3 {
  color: rgba(0, 0, 0, 0.8);
  margin: 20px 0;
}
/* line 45, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body #sidebar p, html #sidebar p {
  font-size: 15px;
  line-height: 130%;
  color: #3D3C34;
}
/* line 51, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body #sidebar ul, html #sidebar ul {
  list-style: none;
  padding: 0;
}
/* line 54, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body #sidebar ul li, html #sidebar ul li {
  width: 33.33%;
  display: inline-block;
}
/* line 57, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body #sidebar ul li a, html #sidebar ul li a {
  width: 100%;
  height: 50px;
  background: red;
  display: block;
  text-indent: -9999px;
  background: url(/assets/social.png) no-repeat center center;
  background-size: cover;
  transition: all .2s;
}
/* line 68, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body #sidebar ul li .fb, html #sidebar ul li .fb {
  background-color: #3b5998;
  background-position: 0 0;
}
/* line 69, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body #sidebar ul li .tw, html #sidebar ul li .tw {
  background-color: #00aced;
  background-position: 50% 0;
}
/* line 70, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body #sidebar ul li .gp, html #sidebar ul li .gp {
  background-color: #dd4b39;
  background-position: 100% 0;
}
/* line 72, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body #sidebar ul li .fb:hover, html #sidebar ul li .fb:hover {
  background-color: #5872a7 !important;
}
/* line 73, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body #sidebar ul li .tw:hover, html #sidebar ul li .tw:hover {
  background-color: #44C2F2 !important;
}
/* line 74, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body #sidebar ul li .gp:hover, html #sidebar ul li .gp:hover {
  background-color: #e26657 !important;
}
/* line 79, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body #cke_main, html #cke_main {
  border: 0;
  box-shadow: 0;
  border: 0;
  width: 98%;
  display: inline-block;
  transition: all .6s;
}
/* line 87, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body #cke_main .cke_top, html #cke_main .cke_top {
  position: absolute;
  top: 0;
  right: 0px;
  background-color: #eebd01 !important;
  background: none;
  border: 0;
  box-shadow: none;
  padding: 12px 12px;
}
/* line 97, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body #cke_main .cke_top .cke_toolgroup, body #cke_main .cke_top .cke_combo_button, html #cke_main .cke_top .cke_toolgroup, html #cke_main .cke_top .cke_combo_button {
  border: 0;
  box-shadow: none;
  background: white;
  margin: 0;
  border-radius: 0;
}
/* line 105, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body #cke_main .cke_top .cke_combo_button, html #cke_main .cke_top .cke_combo_button {
  margin: 0 10px !important;
}
/* line 108, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body #cke_main .cke_bottom, html #cke_main .cke_bottom {
  width: 0 !important;
  visibility: hidden !important;
  display: none !important;
}
/* line 113, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body #cke_main .cke_inner, html #cke_main .cke_inner {
  width: 100%;
}
/* line 114, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body #cke_main .cke_inner, body #cke_main .cke_wysiwyg_frame, html #cke_main .cke_inner, html #cke_main .cke_wysiwyg_frame {
  background-color: transparent !important;
}
/* line 117, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body #cke_main, body .cke_inner, body .cke_contents, html #cke_main, html .cke_inner, html .cke_contents {
  height: 100% !important;
}
/* line 121, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body textarea:focus, html textarea:focus {
  outline-color: transparent !important;
  outline-style: none !important;
}
/* line 126, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body .headtitle, html .headtitle {
  position: absolute;
  top: 0;
  left: 1.9%;
  margin: 0;
  font-size: 70px;
  font-family: 'Raleway', sans-serif;
  color: #eebd01;
  line-height: 70%;
  transition: all .6s;
}
/* line 138, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body .bigside, html .bigside {
  margin-left: 0 !important;
  transition: all .6s;
}
/* line 142, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body .smallmain, html .smallmain {
  width: 85% !important;
  transition: all .6s;
}
/* line 147, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body .movetitle, html .movetitle {
  left: 14.9% !important;
  transition: all 0.6s;
}
/* line 152, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body .buttons, html .buttons {
  width: 80px;
  height: 40px;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
}
/* line 163, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body .buttons .dark, body .buttons .light, html .buttons .dark, html .buttons .light {
  width: 50%;
  height: 100%;
  display: inline-block;
}
/* line 169, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body .buttons .dark, html .buttons .dark {
  background-color: blue;
}
/* line 170, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body .buttons .light, html .buttons .light {
  background-color: yellow;
}
/* line 173, C:/Users/Windows/Desktop/Typehere/project/app/assets/stylesheets/home.scss */
body .colorchange, html .colorchange {
  background-color: black !important;
  color: white !important;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

