<html>
	<head>
		<title>Type Here</title>
		<%= favicon_link_tag 'favicon.ico' %>
	</head>
<body>
	<div id="sidebar">
		<%= image_tag "notepad.png" %>
		<h2>Come funziona</h2>
		<h3>Typehere.co è il tuo notepad personale.</h3>
		<p>
			E' <b>gratuito</b>, <b>veloce</b> e <b>semplice</b>, tutti possono usarlo. <br> <br>
			Per utilizzarlo devi solo scrivere quello che preferisci, tornare quando vuoi e tutto quello che hai scritto sarà ancora presente!
		</p>
		<ul class="social">
			<li>
				<a class="fb" href="https://www.facebook.com/DinDonDaniel" target="_blank">Fb</a>
			</li><li>
				<a class="tw" href="https://twitter.com/DinDonDaniel" target="_blank">Tw</a>
			</li><li>
				<a class="gp" href="https://plus.google.com/+dani96fra" target="_blank">Gp</a>
			</li>
		</ul>
	</div><%= cktext_area_tag :main %>
	<h1 class="headtitle">TYPEHERE.CO</h1>
	<div class="button">
		<p><b>Nightmode</b></p>
	</div>
</body>
</html>